[Desktop Entry]
Name=Havel Terminal
Comment=Terminal Emulator for Havel WM
Exec=havel-terminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;shell;console;command;
